@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import "custom";

//@import "_my-chartist-settings.scss";
@import "~chartist/dist/scss/chartist.scss";
