.bg:before {
    background: url(/image/saving-a-dollar-coin.svg) no-repeat center bottom;
    background-size: cover;
    /*mix-blend-mode: multiply;*/
    /*filter: grayscale(100%);*/
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
}

.body-bg {
    background-color: #1c3d5a;
}

.text-blue-light {
    color: #6cb2eb;
}

.text-blue-lighter {
    color: #bcdefa;
}

.bg {
    opacity: 0.99;
}

.flag {
    border-radius: .375rem;
    width: 32px;
    height: 24px;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

#amznBanners_assoc_banner_placement_default_0_img {
    margin-left: auto;
    margin-right: auto;
}

#subad {
    display: none;
}

#ad > span + #subad {
    display: flex;
}
